.affix {
  position: fixed;
}


/* === Subnav styles === */

.subNav {
  width: 16.543%;
  border-top: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  .hasNum {
    padding: 7px 45px 8px 14px;
  }
  li {
    font-size: 11px;
    position: relative;
    a {
      color: #6a6a6a;
      padding: 8px 14px 8px 14px;
      display: block;
      border-top: 1px solid #fdfdfd;
      border-bottom: 1px solid #cecece;
      font-weight: bold;
      background: #f7f7f7;
      background: -moz-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #e6e6e6));
      background: -webkit-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
      background: -o-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
      background: -ms-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
      background: linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e6e6e6', GradientType=0);
      & > img {
        display: block;
        float: left;
        padding: 5px 10px 0 0;
      }
      &:hover {
        background: #fbfbfb;
        background: -moz-linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #e8e8e8));
        background: -webkit-linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
        background: -o-linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
        background: -ms-linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
        background: linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#e8e8e8', GradientType=0);
      }
      &:active {
        background: #f0f0f0;
      }
    }
    ul {
      border-bottom: 1px solid #cecece;
      li {
        border-top: 1px solid #e3e3e3;
        &:first-child {
          border-top: none;
        }
        a {
          background: #fafafa url(../img/bg/subnav_arrow.png) no-repeat 14px;
          padding-left: 30px;
          border: none;
          font-weight: normal;
        }
        &.this {
          background: url(../img/bg/body.jpg);
          margin-right: -1px;
          color: #a64949;
          filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
          padding-left: 10px;
        }
        &:hover {
          background: #fffffa url(../img/bg/subnav_arrow.png) no-repeat 14px;
        }
      }
    }
  }
  .activeli {
    border-left: 4px solid #505050;
  }
}

@media (max-width: $screen-sm-max) {
  .affix {
    position: relative;
  }
  .subNav{
    width: 99%;
  }
}