.alert{
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 0;
  @include metalgradient();
}
.alert-success {
  //@include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
  box-shadow: 0 1px 2px #e3f4bf inset, 0 1px 1px #dfdfdf;
  -webkit-box-shadow: 0 1px 2px #e3f4bf inset, 0 1px 1px #dfdfdf;
  -moz-box-shadow: 0 1px 2px #e3f4bf inset, 0 1px 1px #dfdfdf;
  border: 1px solid #c1d779;
  color: #4f7307;
  background: #d6efa1;
  background: -moz-linear-gradient(top, #d6efa1 0%, #d0e69d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6efa1), color-stop(100%,#d0e69d));
  background: -webkit-linear-gradient(top, #d6efa1 0%,#d0e69d 100%);
  background: -o-linear-gradient(top, #d6efa1 0%,#d0e69d 100%);
  background: -ms-linear-gradient(top, #d6efa1 0%,#d0e69d 100%);
  background: linear-gradient(top, #d6efa1 0%,#d0e69d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6efa1', endColorstr='#d0e69d',GradientType=0 );
}
.alert-info {
  //@include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
  border: 1px solid #bcd9f3;
  color: #4579aa;
  background: #deedf9;
  background: -moz-linear-gradient(top, #deedf9 0%, #cde5f7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deedf9), color-stop(100%,#cde5f7));
  background: -webkit-linear-gradient(top, #deedf9 0%,#cde5f7 100%);
  background: -o-linear-gradient(top, #deedf9 0%,#cde5f7 100%);
  background: -ms-linear-gradient(top, #deedf9 0%,#cde5f7 100%);
  background: linear-gradient(top, #deedf9 0%,#cde5f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deedf9', endColorstr='#cde5f7',GradientType=0 );
  box-shadow: 0 1px 2px #e9f3fb inset, 0 1px 1px #dfdfdf;
  -webkit-box-shadow: 0 1px 2px #e9f3fb inset, 0 1px 1px #dfdfdf;
  -moz-box-shadow: 0 1px 2px #e9f3fb inset, 0 1px 1px #dfdfdf;
}
.alert-warning {
  //@include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
  border: 1px solid #f2d083;
  color: #826200;
  box-shadow: 0 1px 2px #fff0c7 inset, 0 1px 1px #dfdfdf;
  -webkit-box-shadow: 0 1px 2px #fff0c7 inset, 0 1px 1px #dfdfdf;
  -moz-box-shadow: 0 1px 2px #fff0c7 inset, 0 1px 1px #dfdfdf;
  background: #ffedbc;
  background: -moz-linear-gradient(top, #ffedbc 0%, #fbe5a8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffedbc), color-stop(100%,#fbe5a8));
  background: -webkit-linear-gradient(top, #ffedbc 0%,#fbe5a8 100%);
  background: -o-linear-gradient(top, #ffedbc 0%,#fbe5a8 100%);
  background: -ms-linear-gradient(top, #ffedbc 0%,#fbe5a8 100%);
  background: linear-gradient(top, #ffedbc 0%,#fbe5a8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffedbc', endColorstr='#fbe5a8',GradientType=0 );
}
.alert-danger {
  //@include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
  box-shadow: 0 1px 2px #fbb5b5 inset, 0 1px 1px #dfdfdf;
  -webkit-box-shadow: 0 1px 2px #fbb5b5 inset, 0 1px 1px #dfdfdf;
  -moz-box-shadow: 0 1px 2px #fbb5b5 inset, 0 1px 1px #dfdfdf;
  border: 1px solid #dfa59b;
  color: #7d2a1c;
  background: #f0b5a1;
  background: -moz-linear-gradient(top, #f0b5a1 0%, #de9d8a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b5a1), color-stop(100%,#de9d8a));
  background: -webkit-linear-gradient(top, #f0b5a1 0%,#de9d8a 100%);
  background: -o-linear-gradient(top, #f0b5a1 0%,#de9d8a 100%);
  background: -ms-linear-gradient(top, #f0b5a1 0%,#de9d8a 100%);
  background: linear-gradient(top, #f0b5a1 0%,#de9d8a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b5a1', endColorstr='#de9d8a',GradientType=0 );
}