body {
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: #5f5f5f;
  background: url("../img/bg/body.jpg") 0 0 repeat;
  overflow-x: hidden;
}
//.theme-dropdown{
//  .dropdown-menu {
//    display: block;
//    position: static;
//    margin-bottom: 20px;
//    background-color: #343434;
//    background: url(../img/bg/sidebar.jpg);
//    border: 1px solid #343434;
//    border-radius: 0;
//    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
//    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
//    background-clip: padding-box;
//    li{
//      background: url(../img/bg/sidebar.jpg);
//      border-bottom: 1px solid #343434;
//      border-top: 1px solid #545454;
//      &:hover{
//        background: #454545;
//      }
//      a{
//        display: block;
//        padding: 6px 5px 6px 34px;
//        color: #c2c2c2;
//      }
//    }
//  }
//  .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
//    color: #fff;
//    text-decoration: none;
//    outline: 0;
//    background-color: #454545;
//  }
//}
//.theme-showcase > p > .btn {
//  margin: 5px 0;
//}
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#sidebar{
  padding: 0 0;
  min-height: 100%;
  height: auto;
  display: block;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  //border-right: 1px solid #c3c3c3;
  //border-bottom: 1px solid #c3c3c3;
  background: url("../img/bg/sidebar.jpg") 0 0 repeat #f5f5f5;
  .row{
    margin: 0;
  }
  .mainNav{
    background: url(../img/bg/sidebar.jpg);
    float: left;
    position: relative;
    z-index: 99;
    padding-top: 49px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    border-left: 0;
  }
  .secondNav{
    background: url("../img/bg/side2.jpg") repeat;
    padding: 0   0 10px 0px;
    border-right: 1px solid #c3c3c3;
    //@include shadow(curved-vertical-right);
  }
  /**
  * Divider
  **/
  .divider{
    height: 0;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #f5f5f5;
    position: relative;
    margin: 20px 0;
    &> span {
      position: absolute;
      left: 50%;
      margin-left: -21px;
      background: #e6e6e6 url(../img/bg/div.png) no-repeat 50%;
      width: 36px;
      padding: 0 3px;
      height: 9px;
      display: block;
      top: -4px;
    }
  }
}
@media (max-width: $screen-sm-max) {
  #sidebar {
    position: relative;
  }
}
.navbar-fixed-top{
  background: url(../img/bg/top.jpg) 0 0 repeat-x transparent;
  height: 48px;
}
.nav .caret {
  border-top-color: $gray-light;
  border-bottom-color: $gray-light;
}
#mainCol{
  padding-left: 20px;
  margin-top: 64px;
  h1.page-header{
    padding-top: 112px;
    margin-top: 35;
  }
}
.contentTop,.secTop{
  height: 64px;
  padding: 0 30px;
  background: url(../img/bg/contentTop.png) repeat 0 0;
}
.contentTop{
  margin: 0 -20px;
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 100;
  display: block;
  border-bottom: 1px solid #c3c3c3;
  .pageTitle{
    display: block;
    float: left;
    color: #626262;
    font-size: 16px;
    font-weight: bold;
    margin: 31px 30px 0 0;
  }
  .pageTitle > [class^="icon-"], .pageTitle > [class*=" icon-"],
  .pageTitle > [class^="glyphicon-"], .pageTitle > [class*=" glyphicon-"] {
    line-height: 22px;
    font-size: 22px;
    padding: 5px;
    color: #626262;
    font-weight: normal;
    margin-right: 5px;
    border-radius: none;
  }
}
.secTop{
  //border-right: 1px solid #c3c3c3;
}
.contentHolder{

}
.divider {
  height: 0;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #fff;
  position: relative;
  margin: 35px 0 0 0;
  &> span {
    position: absolute;
    left: 50%;
    margin-left: -21px;
    background: #eeeeee url(../img/bg/div.png) no-repeat 50%;
    width: 36px;
    padding: 0 3px;
    height: 9px;
    display: block;
    top: -4px;
  }
}