.btn {
  border-radius: 0;
}

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  @include metalgradient();
}

.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

// Warning appears as orange
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}

// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

// Success appears as green
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}

// Info appears as blue-green
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}

// Button Sizes
// --------------------------------------------------

.btn-lg {
  border-radius: 0;
}

.btn-sm,
.btn-xs {
  border-radius: 0;
}

.btn-xs {
  padding: 1px 5px;
}

.secondNav {
  .btn {
    width: 100%;
    display: block;
  }
}

/* === Buttons === */

.buttonS, .buttonM, .buttonL, .buttonH, [class*="tablectrl"] {
  font-size: 11px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 -1px #6f6f6f;
  display: inline-block;
  line-height: 14px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.buttonS span, .buttonM span, .buttonL span, .buttonH span {
  text-shadow: 0 1px 0 #6f6f6f;
  margin-left: 10px;
}

.buttonS {
  padding: 6px 14px;
}

.buttonM {
  padding: 7px 15px;
}

.buttonL {
  padding: 8px 18px;
}

.buttonH {
  float: right;
  padding: 4px 12px 4px 12px;
  color: #fff !important;
  margin: 7px 10px 6px 10px;
}

.bGreen:hover, .bRed:hover, .bBlue:hover, .bGreyish:hover, .bBlack:hover, .bLightBlue:hover, .bGold:hover, .bSea:hover, .bBrown:hover {
  opacity: 0.95;
  filter: alpha(opacity=95);
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.bDefault, .dualBtn, .searchLine button {
  color: #686868;
  @include buttonGradient(#c3c3c3,#fff,#f8f8f8,#e8e8e8);
  text-shadow: none;
}

.bDefault:hover, .dualBtn:hover, .searchLine button:hover {
  -webkit-transition: box-shadow 0.05s ease-in-out;
  -moz-transition: box-shadow 0.05s ease-in-out;
  transition: box-shadow 0.05s ease-in-out;
  background: #fafafa;
  background: -moz-linear-gradient(top, #fafafa 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #fafafa 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #fafafa 0%, #e5e5e5 100%);
  background: linear-gradient(top, #fafafa 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#e5e5e5', GradientType=0);
}

.bDefault:active, .dualBtn:active, .titleToolbar > li > a:active, .titleOpt > a:active, .searchLine button:active {
  background: #eee;
  color: #505050;
  border-color: #c0c0c0;
  box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff;
  -webkit-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff;
  -moz-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff;
  text-shadow: 0 -1px 1px #f1f1f1;
}

.bDefault span {
  text-shadow: none;
}

.bGreen {
  @include buttonGradient(#68a341,#a4ca6c,#96c161,#609c3d);
}

.bGreen:active {
  background: #74aa49;
  box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
  -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
  -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
}

.bRed {
  @include buttonGradient(#a95151,#cd8787,#c57979,#a34c4c);
}

.bRed:hover {
  opacity: 0.95;
  filter: alpha(opacity=95);
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.bRed:active {
  background: #b15e5e;
  box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
  -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
  -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
}

.bBlue {
  @include buttonGradient(#3e76af,#66b2d2,#5ba5cb,#3a70ab);
}

.bBlue:hover {
  opacity: 0.95;
  filter: alpha(opacity=95);
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.bBlue:active {
  background: #4786b8;
  box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
  -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
  -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
}

.bGreyish {
  @include buttonGradient(#5e6779,#9ca6b3,#8c97a6,#596171);
}

.bGreyish:active {
  background: #6d7787;
  box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
  -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
  -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
}

.bBlack {
  @include buttonGradient(#4e4e4e,#959595,#838383,#444444);
}

.bBlack:active {
  background: #5d5d5d;
  box-shadow: 0 0 2px #505050 inset, 0 1px 0 #fff;
  -webkit-box-shadow: 0 0 2px #505050 inset, 0 1px 0 #fff;
  -moz-box-shadow: 0 0 2px #505050 inset, 0 1px 0 #fff;
}

.bLightBlue {
  @include buttonGradient(#5897c3,#84c4dd,#6db5d5,#4a91c0);
}

.bLightBlue:active {
  background: #559cc7;
  box-shadow: 0 0 2px #808080 inset, 0 1px 0 #fff;
  -webkit-box-shadow: 0 0 2px #808080 inset, 0 1px 0 #fff;
  -moz-box-shadow: 0 0 2px #808080 inset, 0 1px 0 #fff;
}

.bGold {
  @include buttonGradient(#c4853e,#ddb65b,#d5a44c,#c07833);
}

.bGold:active {
  background: #ca8e40;
  box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
  -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
  -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
}

.bSea {
  @include buttonGradient(#5a837e,#95b8b6,#7ca6a3,#547b76);
}

.bSea:active {
  background: #68918d;
  box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
  -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
  -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
}

.bBrown {
  @include buttonGradient(#9c6b3c,#c8a85f,#bb934f,#996336);
}

.bBrown:active {
  background: #ad7f45;
  box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
  -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
  -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff;
}