//.dropdown-menu{
//  position: absolute;
//  text-align: left;
//  top: 100%;
//  left: -1px;
//  z-index: 1000;
//  display: none;
//  float: left;
//  min-width: 160px;
//  margin: 0px 0 0;
//  list-style: none;
//  padding: 0 0;
//  background-color: #ffffff;
//  border: 1px solid #c3c3c3;
//  -webkit-border-radius: 0px;
//  -moz-border-radius: 0px;
//  border-radius: 0px;
//  -webkit-box-shadow: 0 2px 2px -2px #ccc;
//  -moz-box-shadow: 0 2px 2px -2px #ccc;
//  box-shadow: 0 2px 2px -2px #ccc;
//  -webkit-background-clip: padding-box;
//  -moz-background-clip: padding;
//  background-clip: padding-box;
//  .divider {
//    border: 1px solid #c3c3c3;
//    height: 1px;
//    margin: 1px 0;
//    overflow: hidden;
//    background-color: transparent;
//  }
//  a {
//    display: block;
//    padding: 5px 10px;
//    clear: both;
//    font-weight: normal;
//    color: #6A6A6A;
//    white-space: nowrap;
//    font-size: 11px;
//    background: #fdfdfd;
//    background: -moz-linear-gradient(top, #fdfdfd 0%, #f5f5f5 100%);
//    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f5f5f5));
//    background: -webkit-linear-gradient(top, #fdfdfd 0%,#f5f5f5 100%);
//    background: -o-linear-gradient(top, #fdfdfd 0%,#f5f5f5 100%);
//    background: -ms-linear-gradient(top, #fdfdfd 0%,#f5f5f5 100%);
//    background: linear-gradient(top, #fdfdfd 0%,#f5f5f5 100%);
//    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f5f5f5',GradientType=0 );
//  }
//}
.dropdown-menu{
  background: url("../img/bg/side2.jpg") 0 0 repeat transparent;
  -webkit-box-shadow: 3px 20px -5px rgba(0,0,0,0.175);
  box-shadow: 3px 6px 12px rgba(0,0,0,0.175);
}