.form-control{
  border-radius: 0;
  font-size: 11px;
  color: #858585;
  box-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
  padding: 6px 7px;
  border: 1px solid #d7d7d7;
  display: inline-block;
  background: #fdfdfd;
  height: 26px;
  &:focus{
  }
}