.list-group {
  // No need to set list-style: none; since .list-group-item is block level
  @include shadow(raised);
}

#sidebar{
  .mainNav{
    .list-group{
      box-shadow: none;
      i{
        font-size: 2.8em;
      }
      .list-group-item{
        border-top: 1px solid #555555;
        border-bottom: 1px solid #2e2e2e;
        border-left: 0;
        border-right: 0;
        padding: 10px 5px;
        @include linear-gradient(top, rgba(86,86,86,0.2) 0%, rgba(54,54,54,0.2) 100%);
        &.active{
          @include linear-gradient(top, rgba(120,120,120,0.2) 0%,rgba(120,120,120,0.3) 100%);
          a{
            color: #f4f4f4;
            @include transition (all 1.0s ease-in-out);
            i{
              color: #f4f4f4;
              @include transition (all 1.0s ease-in-out);
            }
          }
        }
        &:first-child {
          border-top-right-radius: 0;
          border-top-left-radius: 0;
        }
        a{
          font-size: 11px;
          color: #808080;
          text-decoration: none;
          @include transition (all 1.0s ease-in-out);
          i{
            color: #808080;
            @include transition (all 1.0s ease-in-out);
            display: block;
            width: 100%;
          }
          &:hover{
            color: #f4f4f4;
            @include transition (all 1.0s ease-in-out);
            i{
              color: #f4f4f4;
              @include transition (all 1.0s ease-in-out);
            }
          }
        }
      }
    }
  }
  .secondNav{
    min-height: 2000px;
    .list-group{
      //border-top: 1px solid #c3c3c3;
      border-top: none;
      border-bottom: 1px solid #c3c3c3;
      box-shadow: none;

      &>.list-group-item{
        font-size: 11px;
        color: #6a6a6a;
        padding: 8px 14px 8px 14px;
        display: block;
        font-weight: bold;
        background: #f7f7f7;
        background: -moz-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e6e6e6));
        background: -webkit-linear-gradient(top, #f7f7f7 0%,#e6e6e6 100%);
        background: -o-linear-gradient(top, #f7f7f7 0%,#e6e6e6 100%);
        background: -ms-linear-gradient(top, #f7f7f7 0%,#e6e6e6 100%);
        background: linear-gradient(top, #f7f7f7 0%,#e6e6e6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e6e6e6',GradientType=0 );
        border-radius: 0 0 0 0;
        &.active{
          border-left: 4px solid #505050;
        }
        a{

        }
      }
    }
  }
}
@media (max-width: $screen-sm-max) {
  #sidebar{
    .secondNav{
      min-height: 100%;
      margin-bottom: 20px;
    }
  }
}