@mixin clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}
// Alerts
// -------------------------
@mixin alert-variant($background, $border, $text-color) {
   background-color: $background;
   border-color: $background;
   color: $text-color;
  @include linear-gradient(lighten($background,15%),darken($background,10%));
   hr {
     border-top-color: darken($border, 5%);
   }
   .alert-link {
     color: darken($text-color, 10%);
   }
 }
@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
  @include linear-gradient($background,darken($background,10%));
  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle {
    color: $color;
    background-color: lighten($background, 8%);
    border-color: lighten($border, 12%);
  }
  &:active,
  &.active,
  .open .dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border
    }
  }
}
@mixin metalgradient{
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e8e8e8));
  background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom,#f8f8f8 0%, #e8e8e8 100%);
}
@mixin metalgradientFocus{
  background-color: $colorPrimary;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e8e8e8));
  background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom,#f8f8f8 0%, #e8e8e8 100%);
}

@mixin buttonGradient($borderColor:#68a341,$shadowColor:#a4ca6c,$gradientA:#96c161,$gradientB:#609c3d){
  border: 1px solid $borderColor;
  box-shadow: 0 1px 2px 0 #a4ca6c inset;
  -webkit-box-shadow: 0 1px 2px 0 #a4ca6c inset;
  -moz-box-shadow: 0 1px 2px 0 #a4ca6c inset;
  background: $gradientA;
  background: -moz-linear-gradient(top, $gradientA 0%, $gradientB 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $gradientA), color-stop(100%, $gradientB));
  background: -webkit-linear-gradient(top, $gradientA 0%, $gradientB 100%);
  background: -o-linear-gradient(top, $gradientA 0%, $gradientB 100%);
  background: -ms-linear-gradient(top, $gradientA 0%, $gradientB 100%);
  background: linear-gradient(top, $gradientA 0%, $gradientB 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$gradientA}', endColorstr='#{$gradientB}', GradientType=0);
}
// IE10 Metro responsive
// Required for Windows 8 Metro split-screen snapping with IE10
//
// Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@-ms-viewport{
  width: device-width;
}

// IE10 on Windows Phone 8
// IE10 on WP8 doesn't report CSS pixels, but actual device pixels. In
// other words, say on a Lumia, you'll get 768px as the device width,
// meaning users will see the tablet styles and not phone styles.
//
// Alternatively you can override this with JS (see source below), but
// we won't be doing that here given our limited scope.
//
// Source: http://timkadlec.com/2013/01/windows-phone-8-and-device-width/
@media screen and (max-width: 400px) {
  @-ms-viewport{
    width: 320px;
  }
}