.nav-tabs{
  font-size: 11px;
  border-top: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  background: url("../img/bg/breadcrumbs.png") repeat-x;
  height: 28px;
  &>li{
    float: left;
    text-align: center;
    background: url(../img/bg/breadcrumbs.png) repeat-x;
    border-bottom: 1px solid #c3c3c3;
    &:hover{
      margin-right: 0;
    }
    &>a{
        margin-right:0;
        line-height: 1.428571429;
        border-radius: 0;
        padding: 5px 15px 4px;
        border-left: 1px solid #c3c3c3;
        background: transparent;
        color: $blackGrey;
    }
  }
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  background: url(../img/bg/subnav.jpg);
  border-bottom: 1px solid #dadada;
  box-shadow: 0 1px 0px #eee inset, 0 1px 0 #ededed;
  -webkit-box-shadow: 0 1px 0px #eee inset, 0 1px 0 #ededed;
  -moz-box-shadow: 0 1px 0px #eee inset, 0 1px 0 #ededed;
  margin-right: 0;
}
.nav-tabs>li>a:hover {
  border-color: #eee #eee #ddd;
  border-left: 1px solid #c3c3c3;
}
.secondNav{
  .nav-tabs{
    &> li{
      &> a{
        &> span{
          display: none;
        }
      }
    }
  }
  .nav-tabs>li{
    box-shadow: none;
  }
  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:hover,
  .nav-tabs>li.active>a:focus {
    height: 28px;
  }
}