.panel {
  @include shadow(raised);
}

.panel-heading,
.list-group-item.active, .list-group-item.active:hover {
  @include metalgradient;
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.list-group-item.active .list-group-item-text, .list-group-item.active:hover .list-group-item-text, .list-group-item.active:focus .list-group-item-text {
  color: #333;
}

.panel-title {
  color: #333;
}

.panel-success {
  .panel-heading {
    .panel-title {
      color: $colorSuccess;
    }
  }
}

.panel-warning {
  .panel-heading {
    .panel-title {
      color: $colorWarning;
    }
  }
}

.panel-danger {
  .panel-heading {
    .panel-title {
      color: $colorDanger;
    }
  }
}

.panel-info {
  .panel-heading {
    .panel-title {
      color: $colorInfo;
    }
  }
}
.secondNav{

  .panel{
    box-shadow: none;
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    .panel-heading{
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }
  }
}
