.progress{
  background: #e6e6e6;
  border: 1px solid #ccc;
  @include metalgradient;
  box-shadow: 0 1px 0 #fff, 0 1px 0 #ddd inset;
  -webkit-box-shadow: 0 1px 0 #fff, 0 1px 0 #ddd inset;
  -moz-box-shadow: 0 1px 0 #fff, 0 1px 0 #ddd inset;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  height: 4px;
}
.progress-bar {
  background-color: #7b7b7b;
  &.progress-bar-success{
    background-color: $colorSuccess;
    @include buttonGradient(#68a341,#a4ca6c,#96c161,#609c3d);
  }
  &.progress-bar-warning{
    background-color: $colorWarning;
  }
  &.progress-bar-danger{
    background-color: $colorDanger;
  }
  &.progress-bar-info{
    background-color: $colorInfo;
  }
}


/* -------------------------------------
 * Bar container
 * ------------------------------------- */
$barColor: #56bb00;
$overlayColor: $colorPrimary;
$backColor: $colorPrimary;
.progress-radial {
  float: left;
  margin-right: 30px;
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  //border: 2px solid $backColor;
  //background-color: $barColor;
  @include buttonGradient(transparent,#959595,#838383,#444444);
}

/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
.progress-radial .overlay {
  position: absolute;
  width: 60px;
  height: 60px;
  @include buttonGradient(transparent,#959595,#838383,#444444);
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  line-height: 60px;
  font-size: 12px;
  color: white;
}


/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */
@mixin percentageProgress($backColor:#56bb00,$barColor:#56bb00,$class:''){

  $step: 5;

  $loops: round(100 / $step);
  $increment: round(360 / $loops);
  $half: round($loops / 2);

  @for $i from 0 through $loops {
    $add: -#{$i * $step};
    @if $class != ''{
      $add: -#{$class}-#{$i * $step};
    }
    .progress#{$add}{
      @if $i < $half {
        $nextdeg: 90deg + $increment * $i;
        @include background-image( linear-gradient(90deg, $backColor 50%, transparent 50%, transparent), linear-gradient($nextdeg, $barColor 50%, $backColor 50%, $backColor));
      }
      @else {
        $nextdeg: -90deg + $increment * ($i - $half);
        @include background-image(linear-gradient($nextdeg, $barColor 50%, transparent 50%, transparent), linear-gradient(270deg, $barColor 50%, $backColor 50%, $backColor));
      }
    }
  }
}
body{
  @include percentageProgress($colorPrimary,#56bb00,'');
  @include percentageProgress($backColor,$colorInfo,'info');
  @include percentageProgress($backColor,$colorDanger,'danger');
}


